.main{
    
}

.nav{
    display: flex;
    background-color: black;
    color:white;
}
.nav1{
    display: flex;
    margin-left: 50%;
    gap: 10px;
    padding-left: 300px;
}
.btn{
    margin-left: 20px;
    height: fit-content;
    margin-top: 20px;
}
.img1{
    transition: 0.9em;
    width: 100%;
    margin-bottom: 40px;


    
}
.navinfo{
    display: flex;
    gap: 20px;
    height:auto;
    width:auto;
    align-items: center;
    padding-left: 10%;
    background-color: red;
    margin-left:150px;
    margin-right: 75px;
    margin-bottom: 50px;
    border: 4px solid white;
    border-radius: 40%;


    
    
    
}
.imagemain{
    position: relative;
    width: 100%;
}
.container{
    display: flex;
    padding-left: 300px;
    gap: 25px;
    position: absolute;
}
.btn1{
    background-color: red;
    color: white;
}
.rimg{
    display: flex;
    gap: 250px;
    flex-direction: row;
    flex-wrap: wrap;
}

.box1{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    border-radius: 100px;
    margin: 20px;
}
.boxx11{
   display: flex; 
   flex-wrap: wrap;
   gap: 50px;

}
.actmain{
    display: flex;
    flex-wrap: wrap;
}
.act{
    border: 4px solid gray ;
    display: flex;
    display: inline-block;
    gap: 10px;
    margin-left: 100px;
    border-radius: 30%;
    flex-direction: column;
}